<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project=> { %>
                <li class="project-item">
                    <span>
                        <strong class="project-date">
                            <%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                                day: 'numeric' }) %>
                        </strong>: <%= project.title %>
                    </span>
                    <span>
                        <i>
                            <%= project.organization_name %>
                        </i>
                        <img src="/images/<%= project.logo_filename %>" alt="<%= project.organization_name %> logo">

                    </span>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('partials/footer') %>